@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication2_EF.Models

@model Product
<form asp-controller="Product" asp-action="Update" method="post">
    ProductId: <input type="text" asp-for="ProductId" value=@Model.ProductId readonly /> <br />
    ProductName: <input type="text" asp-for="ProductName" value=@Model.ProductName /> <br />
    UnitPrice: <input type="number" asp-for="UnitPrice" value=@Model.UnitPrice /> <br />
    UnitsInStock: <input type="number" asp-for="UnitsInStock" value="@Model.UnitsInStock "/> <br />
    Image: <input type="text" asp-for="Image" value="@Model.Image"/> <br />
    Category: <select asp-for="CategoryId">
        @foreach (var item in ViewBag.Categories)
        {
            @if (item.CategoryId == Model.CategoryId)
            {
                <option value="@item.CategoryId" selected>@item.CategoryName</option>
            }
            else
            {
                <option value="@item.CategoryId">@item.CategoryName</option>
            }
        }
    </select> <br />
    <input type="Submit" />
</form>
